.shit-tester {
    margin-top: 7%;
    display: flex;
    justify-content: center;

}

.about-title {
    position: relative;
    left: 25%;
    padding: 1%;
    border: 1%;
    margin: 0%;
    font-family: 'hit-and-run';
    font-size: 37px;
}

.about-title {
    margin-top: 2%;
    box-sizing: content-box;
    width: 48%;
    max-width: 1400px;
}

.about-text-wrapper {
    margin-top: 3%;
    font-family: "Lato";
    font-size: 1.5rem;
    max-width: 1400px;
    
}

html {
    overflow: auto;
}

.about-text-wrapper-bottom {
    margin-top: 3%;
    font-family: "Lato";
    font-size: 1.5rem;
    max-width: 1400px;
    margin-bottom: 13%;
}