.navbar-container {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ff5757;
    width: 100%;
    height: 100px;
    display:flex;
    justify-content: center;
    z-index: 100;
    border-bottom: solid white 1px ;
}

.navbar-icon {
    position: absolute;
}

.nav-underline {
    text-decoration: underline;
}


.navbar-container-inner {
    display: flex;
    width: 100%;
    max-width: 1400px;
}

.navbar-items {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.navbar-items li {
    display: inline;
    font-family: 'hit-and-run';
    color: white;
    
}

.navbar-items-container {
    position: relative;
    margin: auto auto;
    width: 70%;
}