.navbar-container {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ff5757;
    width: 100%;
    height: 100px;
    display:flex;
    align-items: center;
    justify-content: center;
    
}

.navbar-icon {
    position: absolute;
    left: 20%;
}

.navbar-container-inner {
    display: flex;
    align-self: center;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 75%;
}

.navbar-items {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.navbar-items li {
    display: inline;
    font-family: 'hit-and-run';
    color: white;
    
}