@font-face {
  font-family: 'hit-and-run';
  src: url("../fonts/hitandrun-regular-webfont.woff") format("woff");
}

* {
  margin: 0;
  box-sizing: border-box;
}

.body-content {

  margin-top: 100px;
}