.home-body {
    width: 100%;
    min-height: calc(100vh - 100px);
    background-color: #ff5757;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-content {
    width: 40%;

    display: flex;
    flex-direction: column;

    z-index: 10;

}

.hero-content-text {
    margin-top: 30px;
}

.hero-content-text p {
    margin-bottom: 20px;
    font-family: hit-and-run;
    color: white;
    font-size: 1rem;
    letter-spacing: 1px;
}

.hero-content-title {
    font-family: 'hit-and-run';
    font-size: 5rem;
    text-align: center;
    color: white;

    -webkit-text-stroke: 3px #532410;
    letter-spacing: -2px;
    text-shadow: 0px 5px 2px rgba(0, 0, 0, 0.27);
    line-height: 110%;

}

.hero-container {
    margin-top: 20px;
    width: 100%; 
    height: 70%;
    max-width: 1400px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-content: space-between;

    flex-wrap: wrap;
}

.hero-image-container {
    position: relative;
    width: 50%;
    height: 450px;   
    
}

.hero-image {
    object-fit:cover;
    border: #fff5ce 10px solid;
    border-radius: 20px;
}

.flex-element {
    min-width: 400px;
    max-width: 100%;
}

.hero-btns-container {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 97%;
}

.hero-btn {
    border: white 1px solid;
    text-align: center;
    padding: 13px 7%;
    border-radius: 10px;
    font-size: 1rem;
    font-family: 'hit-and-run';
}

.hero-btn-1 {
    color:#ff5757;
    background-color: white;
    
}

.hero-btn-1:hover {
    color: white;
    background-color: #ff5757;
    cursor: pointer; 
    box-shadow: 0 0 20px white; 
}

.hero-btn-2 {
    color: white;
}

.hero-btn-2:hover {
    color: #ff5757;
    background-color: white;
    cursor: pointer; 
    box-shadow: 0 0 20px white; 

}

.home-platforms-display {
    width: 90%;
    margin: 3% auto;
    max-width: 1400px;
    
}

.platforms-display-title {
    font-family: 'hit-and-run';
    color: white;
    margin-bottom: 8px;
}


.platforms-container {
    display: flex;
    flex-direction: row;
}

.platform-logo-container {
    position: relative;
    height: 50px;
    width: 500px;
}

.platform-logo-image {
    object-fit: contain;
}



@media (max-width: 1100px) {
    * {
        font-size: 12px;
    }

    .home-body-inner-container {
        margin-top: 0;
    }


    .hero-content {
        position: absolute;
        margin-top: 0;
        margin-right: 0;
        width: 80%;
    }

    .hero-content-text p {
        -webkit-text-stroke: 1px #532410;
        text-align: center;
    }

    .hero-image {
        object-fit: cover;
        border: none;
        border-radius: 0;
        border-top: #fff5ce 3px solid;
        border-bottom: #fff5ce 3px solid;
    }

    .hero-container {
        overflow: hidden;
        margin-top: 0;
    }

    .hero-content-title {
        margin-top: 15%;
    }

    .hero-image-container {
        width: 100%;
        height: 500px;
        object-fit: fill;
        overflow: hidden;
    }

    .platforms-container {
        flex-direction: column;
        align-items: center;
    }

    .platform-logo-container {
        height: 60px;
        width: 100%;
        max-width: 225px;
        margin-bottom: 40px;
    }

    .hero-btn-2 {
        color:#ff5757;
        background-color: white;
    }

    .hero-btn-2:hover {
        color: white;
        background-color: #ff5757;
        cursor: pointer; 
        box-shadow: 0 0 20px white; 
    }

}

@media (max-width: 450px) {
    .flex-element {
        min-width: 90%;
    }
}

