

.home-body {
    width: 100%;
    min-height: calc(100vh - 100px);
    background-color: #ff5757;
    display: flex;
    flex-direction: row;
    justify-content:center;
}

.hero-content {
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-right: 50px;
    z-index: 10;

}

.hero-content-text {
    margin-top: 30px;
}

.hero-content-text p {
    margin-bottom: 20px;
    font-family: hit-and-run;
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
}

.hero-content-title {
    font-family: 'hit-and-run';
    font-size: 5rem;
    text-align: center;
    color: white;

    -webkit-text-stroke: 3px #532410;
    letter-spacing: -2px;
    text-shadow: 0px 5px 2px rgba(0, 0, 0, 0.27);
    line-height: 110%;

}

.home-body-inner-container {
    width: 100%; 
    height: 70%;
    max-width: 1400px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-content: space-between;

    flex-wrap: wrap;
}

.hero-image-container {
    position: relative;
    width: 50%;
    height: 450px;   
}

.hero-image {
    object-fit: contain;
}

.flex-element {

    min-width: 400px;
    max-width: 100%;
}


@media (max-width: 900px) {
    .hero-content {
        position: absolute;
   
        margin-top: 0;
        margin-right: 0;
    }

    .home-body-inner-container {
        overflow: hidden;
    }

    .hero-content-title {
        margin-top: 15%;
    }

    .hero-image-container {
        width: 100%;
        object-fit: fill;
        overflow: hidden;
    }
}